@font-face {
    font-family:"Nunito-ExtraBold" ;
    src: url(./fonts/Nunito-ExtraBold.ttf);
}
p{
    font-family:"Nunito-ExtraBold" ;
}

div{
  width:100px;
  height:100px;
  border: 1px solid black;
  text-align: center;
  font-size: 40px;
  background-color: antiquewhite;
}

div:hover{
  background-color: black;
  color: aliceblue;
}

.navigation{

}

.link-list li {
  display: inline;
margin-top: 40px;
}

.page-link{
  background-color: rgb(135, 218, 239);
  padding: 10px;
  color: black ;

}

.page-link:hover{
  background-color: blue;
  color: antiquewhite;

}
.page-link:focus{
  border: 5px solid green;
  background-color: blueviolet;
}

.page-link:active{
  background-color: orange;
}